body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FAF1E4;
  overflow: hidden;
}

.btn {
  background-color: #da494e;
  margin-top: 100px;
}

.box_inferior {
  margin-top: 50px;
}

.form-control::placeholder {
  color: gray;
  opacity: 1;
  font-size: 0.9rem;
}

.btn-solid {
  background-color: #da494e;
  border-color: #da494e;
  color: #fff;
  transition: none;
  box-shadow: none;
}

.btn-solid:hover,
.btn-solid:focus,
.btn-solid:active {
  background-color: #da494e;
  border-color: #da494e;
  color: #fff;
  box-shadow: none;
}