* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "section header" "aside main";
    background-color: #faf1e4;
}

header {
    grid-area: header;
}

.icon_user {
    padding: 19px;
    margin-right: 10px;
}

section {
    grid-area: section;
}

.custom-navbar {
    background-color: #231f20;
}

aside {
    grid-area: aside;
    background-color: #231f20;
    padding: 60px 20px;
    border-top: 2px solid black;
}

main {
    grid-area: main;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn {
    background-color: #da494e;
    color: white;
    border-radius: 50px;
    width: 150px;
}

.btn_atalho {
    background-color: #faf1e4;
    border: black solid 1px;
    color: black;
    border-radius: 10px;
    width: 150px;
    transition: none;
    box-shadow: none;
}


.messages {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 180px); /* altura máxima, ajuste conforme necessário */
    overflow-y: auto; 
    margin-bottom: 100px;
}


.mensagem {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.aluno {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.resposta {
    align-self: flex-start;
    background-color: #efefef;
}

.input-aluno {
    display: flex;
    margin-bottom: 25px;
    margin-top: auto;
    position: fixed;
    margin-left: 60px;
    width: 150vh;
}

.input-label {
    flex: 1;
    height: 40px;
    background-color: #1b993f;
    opacity: 30%;
    border-radius: 10px 0 0 10px;
}

.btn-enviar {
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 280px;
}

.btn_aside:hover,
.btn_aside:focus,
.btn_aside:active {
    background-color: #da494e;
    border-color: #da494e;
    color: #fff;
    box-shadow: none;
    transition: none;
}

.input-label::placeholder {
    opacity: 1;
    color: black;
    font-weight: bold;
}